[submodule "glfw"]
	path = Libraries-src/glfw
	url = git@github.com:VojtechKursa/glfw
[submodule "glm"]
	path = Libraries-src/glm
	url = git@github.com:g-truc/glm
[submodule "glew"]
	path = Libraries-src/glew
	url = git@github.com:nigels-com/glew
[submodule "assimp"]
	path = Libraries-src/assimp
	url = git@github.com:assimp/assimp
